@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: lightgray;
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  max-width: 1200px;
  margin: 0 auto;
  /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */

  background: #e86817;
  background: -webkit-linear-gradient(top left, #e86817, #b77131);
  background: -moz-linear-gradient(top left, #e86817, #b77131);
  background: linear-gradient(to bottom right, #e86817, #b77131);
}
